*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.app-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.currency-pair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exchange-currency__wrapper {
    display: flex;
    position: relative;
}

.exchange-currency__label {
    font-size: 14px;
    position: absolute;
    top: 6px;
    left: 16px;
}

.exchange-currency__input {
    height: 50px;
    width: 255px;
    padding-left: 16px;
    padding-top: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    color: black;
}

.exchange-currency__selectbox {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-left: 8px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 85px;
    position: relative;
}

.exchange-currency--down {
    margin-top: 8px;
}

.exchange-currency__abbreviation {
    font-size: 20px;
}

.exchange-currency__arrowdown {
    position: absolute;
    top: 14px;
    right: 8px;
}

.selectbox__wrapper {
    width: 255px;
    max-height: 152px;
    
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: white;
    border-radius: 4px;
    
    
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
}

.selectbox__input {
    width: 100%;
    height: 44px;
    padding-left: 36px;
    outline: none;
    border:none;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    &:focus {
        border: 2px solid rgb(238, 238, 238);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &::placeholder{
        font-size: 18px;
        font-weight: 500;
        color: #ccc;
    }
}

.selectbox__search-icon {
    position: absolute;
    top: 12px;
    left: 8px;
}


.selectbox-list__coinlist {
    max-height: 108px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #77ea8f #ccc;
}

.selectbox-list__coinlistnot--not-found {
    text-align: center;
    font-weight: 300;
}

.selectbox-list__coinlist::-webkit-scrollbar {
  width: 4px;
}

.selectbox-list__coinlist::-webkit-scrollbar-track {
  background-color: #ccc
}

.selectbox-list__coinlist::-webkit-scrollbar-thumb {
  background-color: #77ea8f;
  outline: 1px solid slategrey;
}

.selectbox-list__coin {
    list-style-type: none;
    padding: 2px 16px;
    &:hover{
        background-color: #77ea8f;
        color: white;
    }
    &:focus {
        background-color: #77ea8f;
        outline: none;
        color: white;
    }
}

.selectbox-list__ticker {
    display: inline-block;
    min-width: 45%;
}
.selectbox-list__name {
    vertical-align: middle;
    font-size: 12px;
    color: #ccc;
    font-weight: 300;
}

.error-indicator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c78f22;
}


